{% extends "core/base.html" %}
{% load user_agents %}
{% block content %}
    <div class="mb-5 w-full flex-col content-center self-center lg:mt-5 lg:flex lg:w-7/12">
        <div class="bg-neutral mb-5 mt-5 lg:rounded-lg">
            <div class="p-6">
                <h3 class="text-lg text-white">Categories</h3>
                <div class="mt-3 flex flex-wrap gap-2">
                    {% if request|is_mobile or request|is_tablet %}
                        {% for category in categories|slice:"6" %}
                            <a href="{% url 'core:category-detail' name=category.name %}"
                               class="btn btn-primary">{{ category.name }} ({{ category.total_repositories }})</a>
                        {% endfor %}
                    {% else %}
                        {% for category in categories %}
                            <a href="{% url 'core:category-detail' name=category.name %}"
                               class="btn btn-sm btn-primary">
                                {{ category.name }} ({{ category.total_repositories }})
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4 lg:flex-row">
            <div class="p-4 lg:basis-1/2 lg:rounded-lg lg:p-6">
                <a href="{% url 'core:trending-repositories' %}"
                   class="hover:brightness-125">
                    <div class="border-b-2 border-neutral-100 pb-2">
                        <h3 class="text-lg font-bold">Trending Packages</h3>
                    </div>
                </a>
                <div class="mt-2 overflow-x-auto">
                    <table class="table-zebra table w-full">
                        <tbody>
                            {% for repo in trending_apps %}
                                <tr>
                                    <td>
                                        {% url 'core:repo-detail' full_name=repo.full_name as url %}
                                        <a class="flex justify-between hover:brightness-125" href="{{ url }}">
                                            <p>{{ repo.full_name }}</p>
                                            <p>
                                                {{ repo.stars_lately }}
                                                <i class="far fa-star"></i>
                                            </p>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="p-4 lg:basis-1/2 lg:rounded-lg lg:p-6">
                <a href="{% url 'core:trending-profiles' %}"
                   class="hover:brightness-125">
                    <div class="flex justify-between border-b-2 border-gray-100 pb-2">
                        <h3 class="self-center text-lg font-bold">Trending Engineers</h3>
                        <div class="avatar-group -space-x-6 justify-self-end">
                            {% if request|is_mobile or request|is_tablet %}
                                {% for profile in trending_developers|slice:":3" %}
                                    <div class="avatar">
                                        <div class="w-7">
                                            <img src="{{ profile.avatar_url }}" alt="{{ profile.login }}">
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% for profile in trending_developers %}
                                    <div class="avatar">
                                        <div class="w-7">
                                            <img src="{{ profile.avatar_url }}" alt="{{ profile.login }}">
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="avatar placeholder">
                                <div class="bg-neutral-focus text-neutral-content w-7 text-sm">
                                    <span>+99</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="mt-2 overflow-x-auto">
                    <table class="table-zebra table w-full">
                        <tbody>
                            {% for profile in trending_developers %}
                                <tr>
                                    <td>
                                        <a class="flex justify-between hover:brightness-125"
                                           href="{{ profile.github_url }}">
                                            <p>{{ profile.login }}</p>
                                            <p>
                                                {{ profile.followers_lately }}
                                                <i class="far fa-thumbs-up"></i>
                                            </p>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mb-5 mt-4 flex flex-col gap-4 lg:flex-row">
            <div class="p-4 lg:basis-1/2 lg:rounded-lg lg:p-6">
                <a href="{% url 'core:top-repositories' %}" class="hover:brightness-125">
                    <div class="border-b-2 border-gray-100 pb-2 ">
                        <h3 class="text-lg font-bold">Top Packages</h3>
                    </div>
                </a>
                <div class="mt-2 overflow-x-auto">
                    <table class="table-zebra table w-full">
                        <tbody>
                            {% for repo in top_apps %}
                                <tr>
                                    <td>
                                        {% url 'core:repo-detail' full_name=repo.full_name as url %}
                                        <a class="flex justify-between hover:brightness-125" href="{{ url }}">
                                            <p>{{ repo.full_name }}</p>
                                            <p>
                                                {{ repo.stars }}
                                                <i class="far fa-thumbs-up"></i>
                                            </p>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="p-4 lg:basis-1/2 lg:rounded-lg lg:p-6">
                <a href="{% url 'core:social-media-news' %}"
                   class="hover:brightness-125">
                    <div class="border-b-2 border-gray-100 pb-2 ">
                        <h3 class="text-lg font-bold">Social Media News</h3>
                    </div>
                </a>
                <div class="mt-2 overflow-x-auto">
                    <table class="table-zebra table w-full">
                        <tbody>
                            {% for post in social_news %}
                                <tr>
                                    <td>
                                        <a class="flex justify-between hover:brightness-125"
                                           href="{{ post.url }}">
                                            <p>
                                                {% if request|is_mobile or request|is_tablet %}
                                                    {{ post.title|truncatechars:35 }}
                                                {% else %}
                                                    {{ post.title|truncatechars:55 }}
                                                {% endif %}
                                            </p>
                                            <p>
                                                {% if post.type == 'Reddit' %}
                                                    <i class="fa-brands fa-reddit text-2xl"></i>
                                                {% elif post.type == 'Hacker News' %}
                                                    <i class="fa-brands fa-hacker-news text-2xl"></i>
                                                {% else %}
                                                    <i class="fa-brands fa-reddit text-2xl"></i>
                                                {% endif %}
                                            </p>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
