{% load admin_urls static %}

{% if object_list %}
    {% for object in page_obj %}
        <div class="my-4 rounded">
            <div class="shadow-xl card bg-base-200">
                <div class="pb-2 card-body">
                    <a target="_blank"
                       href="{% url 'core:repo-detail' full_name=object.full_name %}">
                        <h2 class="flex justify-between card-title">
                            <span>{{ object.full_name }}</span>
                            <span class="text-sm">⭐ {{ object.stars }}</span>
                        </h2>
                    </a>
                    <div class="flex flex-wrap gap-2">
                        {% for topic in object.topics|slice:"0:5" %}
                            <a class="text-xs badge badge-outline hover:brightness-125"
                               href="{% url 'core:search' %}?q={{ topic }}">{{ topic|truncatechars:30 }}</a>
                        {% endfor %}
                    </div>
                    <p class="mt-2">{{ object.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="join">
        {% if page_obj.has_previous %}
            <button class="join-item btn btn-neutral"
                    hx-trigger="click"
                    hx-include="[name='q'],[name='category']"
                    hx-get="{% url 'core:search' %}{% if page_obj.previous_page_number != 1 %}?page={{ page_obj.previous_page_number }}{% endif %}"
                    hx-push-url="true"
                    hx-target="#search_table">
                <<
            </button>
            <button class="join-item btn btn-neutral"
                    hx-trigger="click"
                    hx-include="[name='q'],[name='category']"
                    hx-get="{% url 'core:search' %}?page=1"
                    hx-push-url="true"
                    hx-target="#search_table">1</button>
        {% endif %}
        <button class="join-item btn btn-neutral"
                hx-trigger="click"
                hx-include="[name='q'],[name='category']"
                hx-get="{% url 'core:search' %}{% if page_obj.previous_page_number != 1 %}?page={{ page_obj.previous_page_number }}{% endif %}"
                hx-push-url="true"
                hx-target="#search_table">{{ page_obj.previous_page_number }} ad</button>
        <button class="join-item btn btn-neutral btn-active">{{ page_obj.number }}</button>
        <button class="join-item btn btn-neutral"
                hx-trigger="click"
                hx-include="[name='q'],[name='category']"
                hx-get="{% url 'core:search' %}?page={{ page_obj.next_page_number }}"
                hx-push-url="true"
                hx-target="#search_table">{{ page_obj.next_page_number }}</button>
        {% if page_obj.has_next %}
            <button class="join-item btn btn-neutral"
                    hx-trigger="click"
                    hx-include="[name='q'],[name='category']"
                    hx-get="{% url 'core:search' %}?page={{ page_obj.next_page_number }}"
                    hx-push-url="true"
                    hx-target="#search_table">>></button>
        {% endif %}
    </div>
{% endif %}
