{% extends "core/base.html" %}
{% block content %}
    <div class="mb-5 w-full flex-col content-center self-center lg:mt-5 lg:flex lg:w-7/12">
        <form class="form flex justify-between">
            <label class="form-control">
                <div class="label">
                    <span class="label-text">Search</span>
                </div>
                <input type="text"
                       name="q"
                       value="{{ request.GET.q }}"
                       class="input input-bordered input-sm min-w-64"
                       hx-get="{% url 'core:search' %}"
                       hx-target="#search_table"
                       hx-trigger="keyup changed delay:1s"
                       hx-push-url="true" />
            </label>
            <div class="flex gap-4">
                <label class="form-control">
                    <div class="label">
                        <span class="label-text">Category</span>
                    </div>
                    <select name="category"
                            class="select select-bordered"
                            hx-get="{% url 'core:search' %}"
                            hx-target="#search_table"
                            hx-trigger="change"
                            hx-push-url="true">
                        <option selected>All</option>
                        {% for category in categories %}<option value="{{ category.name }}">{{ category.name }}</option>{% endfor %}
                    </select>
                </label>
            </div>
        </form>
        <table id="search_table" class="table table-sm mt-7">
            {% include "core/search_table.html" %}
        </table>
    </div>
{% endblock content %}
