{% extends "core/base.html" %}
{% block content %}
    <div class="mb-5 w-full flex-col content-center self-center lg:mt-5 lg:flex lg:w-7/12">
        <form class="form flex justify-between">
            <label class="form-control">
                <div class="label">
                    <span class="label-text">Search</span>
                </div>
                <input type="text"
                       name="q"
                       value="{{ request.GET.q }}"
                       hx-include="[name='category']"
                       hx-get="{% url 'core:search' %}"
                       hx-push-url="true"
                       hx-target="#search_table"
                       hx-trigger="keyup changed delay:1s"
                       class="input input-bordered input-sm min-w-64" />
            </label>
            <div class="flex gap-4">
                <label class="form-control">
                    <div class="label">
                        <span class="label-text">Category</span>
                    </div>
                    <select name="category"
                            class="select select-bordered"
                            hx-trigger="change"
                            hx-include="[name='q']"
                            hx-get="{% url 'core:search' %}"
                            hx-push-url="true"
                            hx-target="#search_table">
                        <option>All</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}"
                                    {% if category.name == request.GET.category %}selected{% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </form>
        <div id="search_table" class="table table-sm mt-7">{% include "core/search_table.html" %}</div>
    </div>
{% endblock content %}
