{% extends "core/base.html" %}
{% load user_agents %}
{% block content %}
    <div class="flex flex-col self-center items-center p-4 lg:p-6 w-full lg:w-11/12">
        <div class="flex flex-wrap self-start mt-3 mb-10 text-sm lg:text-lg gap-2">
            <div class="badge badge-lg badge-primary">Trending social media news</div>
        </div>
        <table class="table w-full leading-6 mb-5">
            <thead>
                <tr>
                    <th class="hidden xl:block">Rank</th>
                    <th>Name</th>
                    <th class="hidden xl:block">Date</th>
                    <th>Upvotes</th>
                </tr>
            </thead>
            <tbody>
                {% for news in page_obj %}
                    <tr class="hover">
                        {% with url=news.url %}
                            <td class="hidden xl:table-cell">
                                <a class="font-bold" href="{{ url }}">{{ page_obj.start_index|add:forloop.counter0 }}</a>
                            </td>
                            <td>
                                <a href="{{ url }}" target="_blank">
                                    {% if news.type == 'Reddit' %}
                                        <i class="fa-brands fa-reddit text-2xl"></i>
                                    {% elif news.type == 'Hacker News' %}
                                        <i class="fa-brands fa-hacker-news text-2xl"></i>
                                    {% else %}
                                        <i class="fa-brands fa-reddit text-2xl"></i>
                                    {% endif %}
                                    <span class="ml-2 align-top">
                                        {% if request|is_mobile or request|is_tablet %}
                                            {{ news.title|truncatechars:25 }}
                                        {% else %}
                                            {{ news.title|truncatechars:55 }}
                                        {% endif %}
                                    </span>
                                </a>
                            </td>
                            <td class="text-sm hidden xl:table-cell">
                                <a href="{{ url }}">{{ news.created_at }}</a>
                            </td>
                            <td>
                                <a href="{{ url }}">
                                    {{ news.upvotes }}
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </a>
                            </td>
                        {% endwith %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "core/components/pagination.html" %}
    </div>
{% endblock content %}
