{% extends "core/base.html" %}
{% load user_agents %}
{% block content %}
    <div class="flex w-full flex-col items-center self-center p-4 lg:w-7/12 lg:p-6">
        <div class="mb-10 mt-3 flex flex-wrap gap-2 self-start text-sm lg:text-lg">
            <div class="badge badge-lg badge-primary">Top repositories</div>
            <div class="badge badge-lg badge-primary">Repositories with the most stars</div>
        </div>
        <table class="mb-5 table w-full leading-6">
            <thead>
                <tr>
                    <th class="hidden xl:block">Rank</th>
                    <th>Name</th>
                    <th class="hidden xl:block">Description</th>
                    <th>Stars</th>
                </tr>
            </thead>
            <tbody>
                {% for repo in page_obj %}
                    <tr class="hover">
                        {% url 'core:repo-detail' full_name=repo.full_name as url %}
                        <td class="hidden xl:table-cell">
                            <a class="font-bold" href="{{ url }}" target="_blank">{{ page_obj.start_index|add:forloop.counter0 }}</a>
                        </td>
                        <td>
                            <a href="{{ url }}" target="_blank">
                                {% if request|is_mobile or request|is_tablet %}
                                    {{ repo.full_name|truncatechars:25 }}
                                {% else %}
                                    {{ repo.full_name }}
                                {% endif %}
                            </a>
                        </td>
                        <td class="hidden xl:table-cell">
                            <a href="{{ url }}" target="_blank">{{ repo.truncated_description|truncatechars:50 }}</a>
                        </td>
                        <td>
                            <a href="{{ url }}" target="_blank">{{ repo.stars }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "core/components/pagination.html" %}
    </div>
{% endblock content %}
{% block stars_column_header %}
{% endblock stars_column_header %}
