layout pyenv $(cat .python-version)
source .venv/bin/activate
dotenv

# Override service hostnames for running directly on the host (outside Docker)
export DATABASE_URL=psql://postgres:postgres@localhost:5432/django_wtf
export REDIS_URL=redis://localhost:6379/
export CELERY_BROKER_URL=redis://localhost:6379/
