<div class="mt-5 mb-5 self-center btn-group">
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}" class="btn">«</a>
  {% endif %}

  {% for page_number in page_obj.paginator.get_elided_page_range %}
  {% if page_number == page_obj.paginator.ELLIPSIS %}
  <a class="btn btn-disabled">...</a>
  {% else %}
  <a href="?page={{ page_number }}" class="btn {% if page_number == page_obj.number %}btn-active{% endif %}">
    {{page_number}}
  </a>
  {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}" class="btn">»</a>
  {% endif %}
</div>
