{% extends "core/base.html" %}
{% load tailwind_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block head %}
    {{ block.super }}
    {% include "wagtail_code_blog/blog_page_head.html" %}
{% endblock head %}
{% block content %}
    <div class="flex w-full justify-center bg-white pb-5 md:pb-7 md:pt-7">
        {% include "wagtail_code_blog/blog_page_body.html" %}
    </div>
{% endblock content %}
{% block js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.js"
            integrity="sha512-N9IJRoc3LaP3NDoiGkcPa4gG94kapGpaA5Zq9/Dr04uf5TbLFU5q0o8AbRhLKUUlp8QFS2u7S+Yti0U7QtuZvQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script>
        const images = Array.from(document.querySelectorAll(".prose img"));
        console.log(images)
        images.forEach(img => {
            mediumZoom(img, {
                margin: 0,
                /* The space outside the zoomed image */
                scrollOffset: 40,
                /* The number of pixels to scroll to close the zoom */
                container: null,
                /* The viewport to render the zoom in */
                template: null /* The template element to display on zoom */
            });
        });
    </script>
{% endblock js %}
