{% load tailwind_tags %}

<!doctype html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  {% include "meta/meta.html" %}
  {% tailwind_css %}

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.14.2/dist/full.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300;400&display=swap" rel="stylesheet">
</head>

<body class="flex flex-col w-full content-center justify-start min-h-screen bg-slate-100 font-open-sans">
  {% include "core/components/_navbar.html" %}

  <div class="flex flex-col content-center self-center mt-3 lg:w-10/12">
    {% block content %}
    {% endblock %}
  </div>

  {% if not debug %}
  <noscript>
    <img alt="django-wtf logo" src="https://s.depode.com/ingress/7ca0f5ff-8ef2-45fb-9718-37d34cddfe79/pixel.gif">
  </noscript>
  <script defer src="https://s.depode.com/ingress/7ca0f5ff-8ef2-45fb-9718-37d34cddfe79/script.js"></script>
  {% endif %}
</body>

</html>

<script src="https://cdn.tailwindcss.com"></script>
