{% extends "core/base.html" %}

{% block content %}
<div class="flex flex-col items-center w-full overflow-x-auto">
  <div class="flex flex-wrap self-start justify-center pt-3 mb-4 text-lg gap-2">
    <a href="{% url "core:category-detail" name=category.name %}" class="px-4 py-3 bg-white border rounded hover:bg-slate-100">
      <span class="text-xl">{{ category.emoji }}</span>
      <span class="uppercase">{{ category.name }}</span>
    </a>
    <span class="px-4 py-3 ml-2 bg-white border rounded">
      <span class="text-xl">📊</span>
      <span>{{ page_obj.paginator.count }} matching repositor{{ page_obj.paginator.count | pluralize:"ies" }}</span>
    </span>
  </div>
  <table class="table w-full text-lg border leading-6">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Description</th>
        <th>Stars</th>
      </tr>
    </thead>
    <tbody>
      {% for repo in page_obj %}

      <tr class="hover">
        {% with url=repo.github_url %}
        <td>
          <a class="font-bold" href="{{ url }}" target="_blank">
          {{ page_obj.start_index|add:forloop.counter0 }}
          </a>
        </td>
        <td>
          <a href="{{ url }}" target="_blank">
            {{ repo.full_name }}
          </a>
        </td>
        <td>
          <a href="{{ url }}" target="_blank">
            {{ repo.truncated_description }}
          </a>
        </td>
        <td>
          <a href="{{ url }}" target="_blank">
            {{ repo.stars }}
          </a>
        </td>
        {% endwith %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
    {% include "core/components/pagination.html" %}
</div>
{% endblock %}
