{% extends "core/base.html" %}
{% load user_agents %}

{% block content %}
<div class="flex flex-col self-center items-center p-4 lg:p-6 w-full lg:w-11/12">
  <div class="flex flex-wrap self-start mt-3 mb-10 text-sm lg:text-lg gap-2">
    <a href="{% url "core:category-detail" name=category.name %}" class="hover:brightness-125">
      <div class="badge badge-lg badge-primary">{{ category.emoji }} {{ category.name }}</div>
    </a>
    <div class="badge badge-lg badge-primary">{{ page_obj.paginator.count }} matching repositor{{ page_obj.paginator.count | pluralize:"ies" }}</div>
  </div>

  <table class="table w-full mb-5">
    <thead>
      <tr>
        <th class="hidden xl:block">Rank</th>
        <th>Name</th>
        <th class="hidden xl:block">Description</th>
        <th>Stars</th>
      </tr>
    </thead>
    <tbody>
      {% for repo in page_obj %}

      <tr class="hover">
        {% with url=repo.github_url %}
        <td class="hidden xl:table-cell">
          <a class="font-bold" href="{{ url }}" target="_blank">
            {{ page_obj.start_index|add:forloop.counter0 }}
          </a>
        </td>
        <td>
          <a href="{{ url }}" target="_blank">
            {% if request|is_mobile or request|is_tablet %}
            {{ repo.full_name|truncatechars:20 }}
            {% else %}
            {{ repo.full_name }}
            {% endif %}
          </a>
        </td>
        <td class="hidden xl:table-cell">
          <a href="{{ url }}" target="_blank">
            {{ repo.truncated_description }}
          </a>
        </td>
        <td>
          <a href="{{ url }}" target="_blank">
            {{ repo.stars }}
          </a>
        </td>
        {% endwith %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "core/components/pagination.html" %}
</div>
{% endblock %}
