{% load tailwind_tags %}

<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>django.wtf</title>
  {% tailwind_css %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
</head>
<body class="bg-cyan-700">


<div class="flex justify-center">
  <ul class="text-gray-900 bg-white border border-gray-200 rounded-lg">
		{% for repo in repositories %}
		<a href="{{ repo.url }}" target="_blank">
			<li class="flex flex-row justify-between w-full px-6 py-2 border-b border-gray-200 rounded-t-lg transition-opacity hover:opacity-50">
				<span class="mr-3 text-sm">{{ repo.full_name }}</span>
				<span class="text-xs py-1 px-2.5 leading-none whitespace-nowrap align-baseline font-bold bg-blue-600 text-white rounded-full ">
					{{ repo.stars }}
				</span>
			</li>
			</a>
		{% endfor %}
  </ul>
</div>
</body>
</html>
