{% extends "core/base.html" %}
{% load user_agents %}

{% block content %}
<div class="flex flex-col self-center items-center p-4 lg:p-6 w-full lg:w-11/12">
  <div class="flex flex-wrap self-start mt-3 mb-10 text-sm lg:text-lg gap-2">
    <div class="badge badge-lg badge-primary">Top contributors</div>
    {% if request|is_mobile or request|is_tablet %}
    <div class="badge badge-lg badge-primary">{{ page_obj.paginator.count }} prolific contributors</div>
    {% else %}
    <div class="badge badge-lg badge-primary">{{ page_obj.paginator.count }} prolific contributors to Django projects</div>
    {% endif %}
  </div>

  <table class="table w-full leading-6 mb-5">
    <thead>
      <tr>
        <th class="hidden xl:block">Rank</th>
        <th>Name</th>
        <th class="hidden xl:block">Contributed to (number of contributions)</th>
        <th>Github followers</th>
      </tr>
    </thead>
    <tbody>
      {% for profile in page_obj %}

      <tr class="hover">
        {% with url=profile.github_url %}
        <td class="hidden xl:table-cell">
          <a class="font-bold" href="{{ url }}" target="_blank">
            {{ page_obj.start_index|add:forloop.counter0 }}
          </a>
        </td>
        <td>
          <a class="flex items-center" href="{{ url }}" target="_blank">
            <img class="w-10 mr-2 rounded-full" src="{{ profile.avatar_url }}" alt="{{ profile.login }}">
            {{ profile.login }}
          </a>
        </td>
        <td class="text-sm hidden xl:table-cell">
          {% for contribution in profile.top_contributions|slice:"0:2" %}
          <a class="p-3 ml-2 badge badge-outline hover:brightness-125" href="{{ contribution.repository.github_url }}" target="_blank">
            {{ contribution.repository.full_name|truncatechars:30 }}
            <span class="ml-1">
              ({{ contribution.contributions }})
            </span>
          </a>
          {% endfor %}
        </td>
        <td class="text-center">
          <a href="{{ url }}" target="_blank">
            {{ profile.followers }}
          </a>
        </td>
        {% endwith %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "core/components/pagination.html" %}
</div>
{% endblock %}
