{% extends "core/base.html" %}
{% load user_agents %}

{% block content %}
<div class="flex flex-col self-center items-center p-1 lg:p-6 w-full lg:w-11/12">
  <div class="flex self-start mt-3 mb-10 text-sm lg:text-lg gap-2">
    <div class="badge badge-lg badge-primary">Top repositories</div>
    <div class="badge badge-lg badge-primary">Repositories with the most stars</div>
  </div>

  <table class="table w-full leading-6 mb-5">
    <thead>
      <tr>
        <th class="hidden xl:block">Rank</th>
        <th>Name</th>
        <th class="hidden xl:block">Description</th>
        <th>Stars</th>
      </tr>
    </thead>
    <tbody>
      {% for repo in page_obj %}

      <tr class="hover">
        {% with url=repo.github_url %}
        <td class="hidden xl:table-cell">
          <a class="font-bold" href="{{ url }}" target="_blank">
            {{ page_obj.start_index|add:forloop.counter0 }}
          </a>
        </td>
        <td>
          <a href="{{ url }}" target="_blank">
            {% if request|is_mobile or request|is_tablet %}
            {{ repo.full_name|truncatechars:25 }}
            {% else %}
            {{ repo.full_name }}
            {% endif %}
          </a>
        </td>
        <td class="hidden xl:table-cell">
          <a href="{{ url }}" target="_blank">
            {{ repo.truncated_description|truncatechars:50 }}
          </a>
        </td>
        <td>
          <a href="{{ url }}" target="_blank">
            {{ repo.stars }}
          </a>
        </td>
        {% endwith %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "core/components/pagination.html" %}
</div>
{% endblock %}

{% block stars_column_header %}
{% endblock %}
