{% extends "core/base.html" %}
{% load user_agents %}

{% block content %}
<div class="flex flex-col items-center p-1 lg:p-6 w-100">
  <div class="flex self-start mt-3 mb-3 text-sm lg:text-lg gap-2">
    <span class="p-3 bg-white border rounded">
      <span>📈</span>
      <span class="ml-2">Trending repositories</span>
    </span>

    <span class="p-3 bg-white border rounded">
      <span>📊</span>
      <span class="ml-2">Repositories with the most stars in the past two weeks</span>
    </span>
  </div>

  <table class="table w-full border leading-6">
    <thead>
      <tr>
        <th class="hidden xl:block">Rank</th>
        <th>Name</th>
        <th class="hidden xl:block">Description</th>
        {% if request|is_mobile or request|is_tablet %}
        <th>Stars</th>
        {% else %}
        <th>Stars last two weeks</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for repo in page_obj %}

      <tr class="hover">
        {% with url=repo.github_url %}
        <td class="hidden xl:table-cell">
          <a class="font-bold" href="{{ url }}" target="_blank">
            {{ page_obj.start_index|add:forloop.counter0 }}
          </a>
        </td>
        <td>
          <a href="{{ url }}" target="_blank">
            {% if request|is_mobile or request|is_tablet %}
            {{ repo.full_name|truncatechars:25 }}
            {% else %}
            {{ repo.full_name }}
            {% endif %}
          </a>
        </td>
        <td class="hidden xl:table-cell">
          <a href="{{ url }}" target="_blank">
            {{ repo.truncated_description }}
          </a>
        </td>
        <td class="text-center">
          <a href="{{ url }}" target="_blank">
            {{ repo.stars_lately }}
          </a>
        </td>
        {% endwith %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "core/components/pagination.html" %}

</div>
{% endblock %}

{% block stars_column_header %}
{% endblock %}
