{% extends "core/base.html" %}
{% load user_agents %}

{% block content %}
<div class="flex flex-col items-center p-1 lg:p-6 w-100">
  <div class="flex self-start mt-3 mb-3 text-sm lg:text-lg gap-2">
    <span class="p-3 bg-white border rounded">
      <span>📈</span>
      <span class="ml-2">Trending profiles</span>
    </span>

    <span class="p-3 bg-white border rounded">
      <span>📊</span>
      <span class="ml-2">Engineers that have gained the most followers in the past two weeks</span>
    </span>
  </div>

  <table class="table w-full border leading-6">
    <thead>
      <tr>
        <th class="hidden xl:block">Rank</th>
        <th>Name</th>
        <th class="hidden xl:block">Contributed to (number of contributions)</th>
        {% if request|is_mobile or request|is_tablet %}
        <th>New followers</th>
        {% else %}
        <th>Number of new followers</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for profile in page_obj %}

      <tr class="hover">
        {% with url=profile.github_url %}
        <td class="hidden xl:table-cell">
          <a class="font-bold" href="{{ url }}" target="_blank">
            {{ page_obj.start_index|add:forloop.counter0 }}
          </a>
        </td>
        <td>
          <a class="flex items-center" href="{{ url }}" target="_blank">
            <img class="w-10 mr-2 rounded-full" alt="{{ profile.login }}" src="{{ profile.avatar_url }}">
            {{ profile.login }}
          </a>
        </td>
        <td class="text-sm hidden xl:table-cell">
          {% for contribution in profile.top_contributions|slice:"0:4" %}
          <a class="p-3 ml-2 text-slate-500 badge badge-outline hover:brightness-125" href="{{ contribution.repository.github_url }}" target="_blank">
            {{ contribution.repository.full_name|truncatechars:30 }}
            <span class="ml-1">
              ({{ contribution.contributions }})
            </span>
          </a>
          {% endfor %}
        </td>
        <td class="text-center">
          <a href="{{ url }}" target="_blank">
            {{ profile.followers_lately }}
          </a>
        </td>
        {% endwith %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "core/components/pagination.html" %}
</div>
{% endblock %}
